*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Мэню хэсгийн стайлууд*/
a, li, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background: none;
    border: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.8rem  ;
    position: sticky;
    background: linear-gradient(to right, #00093c, #471403);
}

.logo{
    cursor: pointer;
    margin-left: 7rem;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0rem 1.5rem;
}

.nav__links li a{
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

.cta{
    padding: 1rem;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10rem;
    color: black;
}

.cta:hover{
    background-color: rgba(0, 136, 169, 0.8);
    transform: scale(1.2);
}

#contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  url(/img/cover.jpg) no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    }
    
    .contact .contactor{
        max-width: 800px;
        text-align: center;
        
    }
    
    .contactor  h2{
        font-size: 36px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }
    
    .contactor p{
        color: #fff;
    }
    
    
    
    .contact .contactor p{
        font-weight: 300;
        color: #fff;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .container .contactInfo{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .container .contactInfo .box{
        position: relative;
        padding: 20px 0;
        display: flex;
    }
    
    .container .contactInfo .box .icon{
        min-width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;
    }
    
    .container .contactInfo .box .text{
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300;
    }
    
    .container .contactInfo .box .text h3{
        font-weight: 500;
        color: #00bcd4;
    }
    
    .contactForm{
        width: 40%;
        padding: 40px;
        background: #fff;
    }
    
    .contactForm h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    
    .contactForm .inputBox{
        width: 100%;
        position: relative;
        margin-top: 10px;
    }
    
    .contactForm .inputBox input,
    .contactForm .inputBox textarea
    {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
    }
    
    .contactForm .inputBox span
    {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        margin: 10px 0;
        pointer-events: none;
        transition: 1s;
        color: #666;
    }
    
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        color: #e91e63;
        font-size: 12px;
        transform: translateY(-20px);
    }
    
    .contactForm .inputBox input[type = "submit"]{
        width: 100px;
        background: #00bcd4;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }
    
    @media (max-width:991px){
        .contact{
            padding: 50px;
        }
        .container{
            flex-direction: column;
        }
        .container .contactInfo{
            margin-bottom: 40px;
        }
        .container .contactInfo,
        .contactForm{
            width: 100%;
        }
    }

    /*Фүүтэр хэсгийн стайлууд*/
footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #471403);
    color: #fff;
    padding: 10px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3){
    flex-basis: 15%;
}

.logo2{
width: 80px;
margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    
}

.social-icons .fab{
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 20px;
color: #000;
background: #fff;
margin-right: 15px;
cursor: pointer;
}

.social-icons .fab:hover{
background: #333;
color: #fff;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: auto;
}

.copyright{
    text-align: center;
    margin-top: 5px;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}